<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>O'Blog</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Purecss -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- CSS Maison -->
    <link rel="stylesheet" href="../../css/style.css">

</head>

<body>

    <div id="layout" class="pure-g">
  
        <header class="main-header pure-u-1 pure-u-md-1-4">
          <a href="/">
            <h1 class="main-header-brand-title"><img src="../../images/logo-short.svg" alt="o'Blog">Blog</h1>
          </a>
          <h2 class="main-header-brand-tagline">Du dev, par les devs, pour les devs</h2>
    
          <!-- NAV -->
  
          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-item">
                <a class="pure-button" target="_blank" href="http://purecss.io">Pure</a>
              </li>
              <li class="nav-item">
                <a class="pure-button" target="_blank" href="https://expressjs.com">Express</a>
              </li>
              <li class="nav-item">
                <a class="pure-button" target="_blank" href="https://oclock.io">O'clock</a>
              </li>
            </ul>
          </nav>
  
                  <!-- NAV END -->
  
        </header>
    
        <div class="main-layout pure-u-1 pure-u-md-3-4">
    
          <main class="main-content pure-g">